.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 90vh;
}

.sidenav_container {
  width: 20%;
  height: 100%;
  background-color: #110b17;
}

.sidenav_header {
  display: flex;
  align-items: center;
}

.profile_img {
  border-radius: 50%;
  max-width: 4rem;
  max-height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}
