.container {
  display: flex;
  flex-direction: column;
  max-width: 20.8rem;
  min-width: 20.8rem;
  gap: 0.6rem;
}

.date {
  background-color: #424242;
  border-radius: 15px;
  width: fit-content;
  padding: 0.2rem 1rem;
  color: #fff;
}
